name: Pull Request - labeler

on:
  pull_request:
    types: 
      - opened
      - edited

jobs:
  labeler:
    name: PR Labeler
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Glob Labeler
        uses: actions/labeler@v6